.city {
	border: #000 1px solid;
	padding: 10px;
	color: #000;

	.name {
		font-size: 20px;
		font-weight: 400;
	}

	.details {
		font-size: 12px;
		display: flex;
		flex-direction: column;
		padding-left: 40px;
		margin-bottom: 10px;
		label {
			font-weight: 400;
		}
	}
}
